[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "IPDfromKM"]
	path = IPDfromKM
	url = https://github.com/cran/IPDfromKM
	shallow = true
	registered = true
